.wp-party-body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.wp-grid-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    padding: 40px 0px;
    justify-content: center;
    gap: 50px; 
    margin: auto;
}

.wp-member-card {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.wp-card-text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.wp-card-text_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.wp-card-title_text {
    color: #1E1E1E;
    font-family: Didot;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.352px;
}

.wp-card-subtitle_text {
    color: #6C6C6C;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
}

.wp-card-subtitle2_text {
    color: #1E1E1E;
    font-family: Didot;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.wp-card-body_text {
    color: #404040;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.154px;
}

.wp-card-divider {
    background-color: #D9D9D9;
    height: 1px;
    align-self: stretch;
}

/* Responsive Breakpoints */

@media (max-width: 1200px) {
    .wp-grid-block {
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row for small desktop */
    }
}

@media (max-width: 810px) {
    .wp-grid-block {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row for tablets */
        gap: 24px; 
    }
}

@media (max-width: 560px) {
    .wp-grid-block {
        width: 100%;
        gap: 40px; 
        grid-template-columns: 1fr; /* 1 card per row for phones */
    }

    .wp-member-card {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    .wp-card-text_block {
        width: 100%;
    }

    .wp-member-image{
        width: 100%;
        height: auto;
    }
}
