@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/didot-2');

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #F7F3EB;
}

/* Header Component */

.header {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.home_text {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.header-tabset {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header_right-aligned {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-text_tabset {
  color: #757575;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
}

.header-divider {
  display: flex;
  padding: 4px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.primary-action {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);
  border-radius: 4px;
  border: 1px solid #2C2C2C;
  background: #2C2C2C;
  color: #F5F5F5;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
}

/* Home Page */

.body-home {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.hero-image {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 32px;
}

.page-divider {
  display: flex;
  width: 100%;
  height: 1px;
  background: #D9D9D9;
}

.about-block {
  display: flex;
  width: 1440px;
  padding: 80px 120px;
  gap: 80px;
}

.about-left_aligned {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

/* Home Page - About Block */

.about-image {
  width: 100%;
  height: 400px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #D9D9D9;
}

.about-right_aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.about-title_text {
  color: #1E1E1E;
  text-align: center;
  font-family: Didot;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
}

.about-body_text {
  color: #1E1E1E;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Home Page - Accomendation Block */

.accomendation-block {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.accomendation-container {
  display: flex;
  padding: 32px 24px 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
}

.accomendation-title_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.accomendation-title_block {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.accomendation-subtitle_text {
  color: #1E1E1E;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.blocked-hotel_container {
  display: flex;
  padding: 32px 24px 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
}

.blocked-hotel-title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.blocked-hotel_title-text {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

.blocked-hotel_body-text {
  color: #1E1E1E;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.blocked-hotel_link {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  justify-content: center;
  gap: 12px;
}

.alternative_hotel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.alternative_hotel-title {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.alternative_hotel-nested_container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.alternative_hotel-block {
  display: flex;
  width: 320px;
  padding: 32px 24px 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
}

.alternative_hotel-title_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.alternative_hotel-block_title {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

.alternative_hotel-block_text {
  color: #1E1E1E;;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

/* Home Page - FAQ Block */

.FAQ-block {
  display: flex;
  padding: 40px 40px 140px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.FAQ-container {
  display: flex;
  padding: 32px 24px 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: #FFFFFF;
}

.FAQ-title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.FAQ-title_text {
  color: #1E1E1E;
  font-family: Didot;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
}

.FAQ-title_right-aligned {
  display: flex;
  align-items: center;
  gap: 8px;
}

.FAQ-subtitle_text {
  color: #1E1E1E;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.FAQ-subtitle_link {
  color: #003190;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.FAQ-accordion_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

/* Accordion Block Component */ 

.accordion {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.accordion-content h4 {
  margin: 0 0 10px 0;
}

