.party-body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    padding: 40px 0px;
    justify-content: center;
    gap: 50px; 
    margin: auto;
}

.member-card {
    display: flex;
    width: 320px;
    padding: 20px 16px 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    box-sizing: border-box;
}

.card-text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.card-text_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.card-title_block {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.card-title_text {
    color: #1E1E1E;
    font-family: Didot;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.352px;
}

.card-subtitle_text {
    color: #6C6C6C;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
}

.card-subtitle2_text {
    color: #1E1E1E;
    font-family: Didot;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.card-body_text {
    color: #404040;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.154px;
}

.card-divider {
    background-color: #D9D9D9;
    height: 1px;
    align-self: stretch;
}

.upper-card_row {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}

.button-wrapper {
    display: flex;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

.secondary-action {
    display: flex;
    width: 100%;
    flex: 1; 
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #404040;
    background: #404040;
    color: #F5F5F5;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    box-sizing: border-box;
    text-decoration: none; /* Ensure the button style is consistent */
}

.button-wrapper a {
    width: 100%;
}
  
.secondary-action:hover {
    cursor: pointer;
}

/* Responsive Breakpoints */

@media (max-width: 1440px) {
    .grid-block {
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row for small desktop */
        padding: 40px 40px;
    }

    .member-card {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }
}

@media (max-width: 1024px) {
    .grid-block {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row for tablets */
        gap: 24px; 
    }
}

@media (max-width: 560px) {
    .grid-block {
        grid-template-columns: repeat(1, 1fr); 
    }

    .card-text_block {
        width: 100%;
    }

}